* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 85px;
}

.nav a {
  font-size: 18pt;
}

.navbar {
  background-color: rgba(211,211,211,0.8);
}

.navbar-brand {
  width: 105px;
}

.nav-link {
  justify-content: center;
}

.form-group {
  filter: grayscale(100%);
  padding-bottom: 30px;
}

.form-group:hover {
  filter: none;
}
.item {
  width: 70%;
  border: 8px solid #808080;

}

.item:hover {
  border: 8px solid #555555;
  filter: none;
}

.fcc-logo {
  width: 20%;
  position: absolute;
  top: 70%;
  left: 25%;

}

h3 {
position: absolute;
top: 88%;
left: 33%;
}

.item:hover > .fcc-logo {
  filter: none;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .navbar-brand {
    width: 80px;
  }

    .item {
    width: 45%;
    border: 3px solid #808080;
  }
  .item:hover {
    border: 4px solid #555555;
  }

  .fcc-logo {
    width: 10%;
    position: absolute;
    top: 10%;
    left: 100%;
  }

  h5 {
    position: absolute;
    top: 30%;
    left: 95%;
  }
}
