* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 85px;
}

.nav a {
  font-size: 18pt;
}

.navbar {
  background-color: rgba(211,211,211,0.8);
}

.navbar-brand {
  width: 105px;
}

.form-group {
  filter: grayscale(100%);
  padding-bottom: 40px;
}

.form-group:hover {
  filter: none;
}

.item {
  width: 70%;
  border: 8px solid #808080;
}

.item:hover {
  border: 8px solid #555555;
}

.fcc-logo {
  width: 20%;
  position: absolute;
  top: 53%;
  left: 13%;

}

h4 {
  font-family: "Verdana", Times, serif;
  position: absolute;
  color: gray;
  top: 85%;
  left: 35%;

}

h4:hover {
  color: black;
}

img {
  max-width: 300px;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .navbar-brand {
    width: 80px;
  }

  .item {
    width: 65%;
    border: 3px solid #808080;
  }
  .item:hover {
    border: 4px solid #555555;
  }

  .fcc-logo {
    width: 15%;
    left: 17%;
  }
}
