* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 70px;
}

.nav a {
  font-size: 18pt;
}

.navbar {
  background-color: rgba(211,211,211,0.8);
}

.navbar-brand {
  width: 105px;
}

.nav-item {
  align-items: center;
}

.brand-circle {
  border: 1px solid #808080;
}

.item {
  border: 15px solid #808080;
}

.item:hover {
  border: 15px solid #555555;
}

.item {
  filter: grayscale(100%);
}

.item:hover {
  filter: none;
}

}
