* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
}


.nav a {
  font-size: 18pt;
}

.navbar {
  background-color: rgba(211,211,211,0.8);
}

.navbar-brand {
  width: 105px;
}

.portfolio {
  display: flex;
  justify-content: center;

}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  justify-content: space-around;

}

.spacer {
  width: 300px;

}

article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 300px;
  height: 300px;
}

article header {
  display: flex;
  flex-direction: column;
  height: 90px;
  align-items: center;
  justify-content: flex-start;

}

article .title {
  font-size: 1.5em;

  color: #008000;
}


.article-img {
  filter: grayscale(100%);
  border: 8px solid #808080;
  width: 200px;

}

.article-img:hover {
  border: 8px solid #555555;
  filter: none;
}

.logo-group {
position: relative;
top: 45px;

}

.logo {
  width: 50px;
  filter: grayscale(100%);

}

.logo:hover {
  filter: none;
}

.fcc-logo-container {
  position: relative;
  top: 285px;

}
